body {
  background-color: #a71010;
  font-family: sans-serif;
  padding: 5%;
  margin: 0; 
}

.todo-list {
  background-color: #ffffff;
  max-width: 600px;
  width: 100%;
  margin: 0 auto; 
}

.todo-body ul {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

.todo-footer {
  padding: 15px;
  display: flex; 
}